.form_Registr{
    width: 200px;
    height: 200px;
}

.name_sur_log_pass_Registr {
    height: 20px;
    border: 0px;
    border-bottom: 1px solid green;
    margin: 10px;
}

.button_Registr{
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px;
    float: right;
    margin: 0px 10px;
    text-align: center;
    background: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
