<h1>TOP-PMS REGISTRATION</h1>
<form>
    <div class="form_Registr">
        <input type="text" id="name_reg" name="name_reg" class="name_sur_log_pass_Registr" placeholder="Name">
        <input type="text" id="sur_reg" name="sur_reg" class="name_sur_log_pass_Registr" placeholder="Surname">
        <input type="text" id="log_reg" name="log_reg" class="name_sur_log_pass_Registr" placeholder="Login">
        <input type="password" id="pass_reg" name="pass_reg" class="name_sur_log_pass_Registr" placeholder="Password">
        <button id="butt_reg" name="butt_reg" type="submit" class="button_Registr">Enter</button>
    </div>
</form>
